/* These are the styles at breakpoint width=680px */

.divOne {
    width: 85%;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.name {
    width: 50%;
}

.beruf {
    width: 50%;
    margin-top: 3%;
    margin-left: -15%;
}

.divTwo {
    margin-left: 15%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tabs {
    width: 25%;
    padding-top: 5px;
}

.tabOne{
    margin-right: -2px;
}

.midColOne {
    width: 60%;
    min-width: 300px;
    min-height: 300px;
    order: 1;
}

.midColTwo {
    margin-top: 1.5%;
}

.image {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 90%;
    min-height:90%;
}

.midColTwo {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    order: 3;
    background-color: white;
}

.midColThree {
    width: 30%;
    order: 2;
    margin-left: 0;
}

.midRowThree {
    background-color: #eeeeee;
    padding-bottom: 20px;
    padding-top: 10px;
}