/* These are the styles at breakpoint width=550px */

.name {
    width: 100%;
}

.beruf {
    width: 100%;
    margin-top: -1.5%;
    margin-left: 0;
}

.tabThree {
    margin-left: 2%;
}

.projekt {    
    min-height: 90px;    
}

.mDivOne {
    width: 100%;
    margin-top: 3%;
}

.mDivTwo {
    width: 100%;
}

.mainDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mDivOneT {
    width: 100%;
    margin-top: 5%;
}

.mDivTwoT {
    width: 100%;
}
